
<div class='container-fluid' ng-controller="HomeController">
  
    <!--   <h4>Select Country</h4>
    <pre>Selection: {{asyncSelected.name | json}}</pre> -->
    <input type="text" ng-model="asyncSelected" placeholder="Country" typeahead-on-select="onSelection($model)"
           typeahead="country as country.name for country in getCountries($viewValue)"
           typeahead-loading="loadingLocations" class="form-control">
    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
    <label ng-model="mapError" ng-if="mapError" style="color: red;">{{ mapError }}</label>


    <br>
    <div ng-if="showWeatherDiv" ng-show="showWeatherDiv" class="col-lg-50">
        <div style="font-size: medium; font-weight: bold; margin-bottom: 0px;">{{ selected.capital }}, {{ selected.name }}</div>
        <div><img height="45" width="45" style="border: medium none; width: 45px; height: 45px;"
         alt="title" ng-src="http://openweathermap.org/img/w/{{ cityWeather.weather[0].icon  }}.png"/></div>
        <div style="float: left; width: 130px;">
            <div style="display: block; clear: left;">
                <div style="float: left;">
                    <div style="display: block; clear: left; font-size: medium; font-weight: bold; padding: 0pt 3pt;"
                         title="Current Temperature">{{ cityWeather.main.temp }} F
                    </div>
                    <div style="display: block; clear: left; color: gray; font-size: small;">Max: {{ cityWeather.main.temp_max }} F</div>
                    <div style="display: block; clear: left; color: gray; font-size: small;">Min: {{ cityWeather.main.temp_min}} F</div>
                    <div style="display: block; width: 85px; overflow: visible;">
                    </div>
                </div>
            </div>
            <div style="display: block; clear: left; font-size: small;">Clouds: {{ cityWeather.clouds.all }}%</div>
            <div style="display: block; clear: left; color: gray; font-size: small;">Humidity: {{ cityWeather.main.humidity }}%</div>
            <div style="display: block; clear: left; color: gray; font-size: small;">Wind: {{ cityWeather.wind.speed }} MPH</div>
            <div style="display: block; clear: left; color: gray; font-size: small;">Pressure: {{ cityWeather.main.pressure }} HPA</div>
        </div>
    </div>
    <div class="col-lg-50" ng-if="trends">
        <div style="display: block; clear: left; font-size: medium; font-weight: bold; padding: 0pt 3pt;"
             title="Trend Topics">Trend Topics
        </div>
        <ul>
            <li ng-repeat="trend in trends">
                <a href="" ng-href="{{ trend.url }}"  target="_blank"> {{ trend.name }}</a>
            </li>
        </ul>
    </div>

    <br>

    <div id="basicMap" ng-data="map" style="height: 600px" ng-init="initMap()"></div>
	
</div>